* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: Arial;
}

.info {
  border-radius: 0.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 1.5rem;
  padding-top: 1rem;
}

.container div {
  text-align: center;
}
